<section
  class="bg-base-200 min-h-[calc(100vh-5rem)] flex flex-col items-center py-10"
>
  <div
    class="card card-side bg-base-100 shadow-xl max-w-2xl"
    *ngIf="jobListing; else notFound"
  >
    <figure class="aspect-square h-full w-1/2">
      <img [src]="jobListing.image" alt="Photo of {{ jobListing.name }}" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{ jobListing.name }}</h2>
      <div class="flex flex-col gap-2">
        <p>Category: {{ jobListing.category }}</p>
        <p>Location: {{ jobListing.city }}, {{ jobListing.state }}</p>
        
      </div>
      <div class="card-actions my-2">
        <button class="btn btn-primary" onclick="apply_modal.showModal()">
          Apply
        </button>
      </div>
    </div>
  </div>

  <div [innerHtml]="content" class="prose my-10"></div>

  <dialog id="apply_modal" class="modal">
    <div class="modal-box flex flex-col">
      <div class="flex justify-between">
        <h3 class="text-lg font-bold">Apply for this job.</h3>
        <form method="dialog">
          <button class="btn btn-sm btn-secondary btn-outline">Close</button>
        </form>
      </div>
      <p class="py-2">Fill in the details below and submit.</p>
      <div class="modal-action" class="flex flex-col gap-4">
        <!-- if there is a button in form, it will close the modal -->

        <form
          [formGroup]="applyForm"
          (submit)="submitApplication()"
          class="flex flex-col"
        >
          <label class="label label-text" for="first-name">First Name</label>
          <input
            class="input input-bordered"
            id="first-name"
            type="text"
            formControlName="firstName"
          />
          <label class="label label-text" for="last-name">Last Name</label>
          <input
            class="input input-bordered"
            id="last-name"
            type="text"
            formControlName="lastName"
          />
          <label class="label label-text" for="email">Email</label>
          <input
            class="input input-bordered"
            id="email"
            type="email"
            formControlName="email"
          />
          <button class="btn btn-primary mt-6" type="submit">Apply now</button>
        </form>
      </div>
    </div>
  </dialog>
</section>

<ng-template #notFound>
  <div class="text-center">
    <h1 class="text-2xl font-bold">404 Not Found</h1>
    <p>The job listing you are looking for does not exist.</p>
  </div>
</ng-template>
